div {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');
    color: white;
    font-family: Georgia;
    padding: 25px;
    margin: 10px;
}

p {
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: Roboto;
}

table {
    background-color: black;
    width: 100%;
}

table, th, td {
    border: 1px solid white;
}